/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background: #fff;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  border: 2px solid #007BFF;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.result-box {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  color: #007BFF;
  background: #f4f4f4;
  border: 1px solid #007BFF;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}
